
/* i */
.normal {
    background-color: #a6a877;
}

.fighting {
    background-color: #a95644;
}

.flying {
    background-color: #79a4ff;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #cfbd73;
}

.bug {
    background-color: #cddd21;
}

.ghost {
    background-color: #7773d2;
}

.steel {
    background-color: #c4c2d8;
}

.fire {
    background-color: #fb5643;
}

.water {
    background-color: #55aefe;
}

.grass {
    background-color: #8cd850;
}

.electric {
    background-color: #ffe41b;
}

.psychic {
    background-color: #f562b2;
}

.ice {
    background-color: #95f1fe;
}

.dragon {
    background-color: #8975fb;
}

.dark {
    background-color: #866450;
}

.fairy {
    background-color: #df90d4;
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0.5rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0.1px 0 #000000;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem 0;
    text-transform: capitalize;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    box-shadow: 0 0.1px 0 #000000;
    text-align: center;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail img {
    border-style: none;
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: white;
    background-color: #5f3bb3;
    border-radius: 1rem;
    border: none;
}

@media screen and (min-width: 360px) and (max-width: 851px){
    .pokemons {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
    }}
